html {
	font-size: 1em;
}

body {
	background-color: #fafaf8;
	font-family: 'ff-real-headline-pro', sans-serif;
	font-weight: 400;
	color: #333;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	height: 100vh;
}

:root {
	--primaryColor: #032d9d;
	--accentColor: #5181ff;
}

p {
	margin-bottom: 1.3em;
	font-family: 'ff-real-text-pro', sans-serif;
}

a {
	color: var(--primaryColor);
	text-decoration: none;
	transition: color 400ms ease;
	font-weight: 400;
	cursor: pointer;
	font-family: 'ff-real-text-pro', sans-serif;
}

a:hover {
	color: #022275;
}

h1,
h2,
h3,
h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 6.854em;
}

h2 {
	font-size: 4.236em;
}

h3 {
	font-size: 2.618em;
}

h4 {
	font-size: 1.618em;
}

small,
.font_small {
	font-size: 0.618em;
}

/*Layout*/

.content-wrapper {
	width: 100vw;
	padding: 0 10vh 0 10vh;
	margin: 0 auto;
	box-sizing: border-box;
}

.row {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/*Navigation*/

nav {
	width: 100%;
	margin: 2em 0;
	padding: 0;
	box-sizing: border-box;
}

nav a {
	margin-right: 1.618em;
	padding: 1em 0 1em 0;
}

nav a:last-of-type {
	margin-right: 0;
	padding: 1em 0 1em 0;
}

nav #nav-logo {
	margin-right: 2.618em;
	text-decoration: none;
	color: #111;
}

/*Word Play*/

#word-play-wrapper {
	height: 88vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#word-wrapper {
	height: 50%;
	display: flex;
}

#word {
	width: 100%;
	text-align: center;
	align-self: flex-end;
	margin: 0;
	color: var(--primaryColor);
	cursor: pointer;
}

#image-wrapper {
	height: 80%;
	display: flex;
	margin-top: 3.6em;
	cursor: pointer;
	display: none;
}

#hero-image {
	width: 100%;
	object-fit: contain;
	transition: opacity 400ms ease;
}

#play-wrapper {
	height: 32%;
	display: flex;
}

#play {
	align-self: flex-start;
	width: 100%;
	text-align: center;
	margin: 2.618em 0;
	color: var(--primaryColor);
	text-decoration: underline;
	font-size: 1.333;
}

/*Learn*/

#learn-wrapper {
	background-color: #111;
	padding: 4.854em 10vh 8.854em 10vh;
	box-sizing: border-box;
}

#learn-wrapper a {
	color: var(--accentColor);
	opacity: 1;
}

#learn-wrapper h4 {
	margin-bottom: 1.618em;
}

#title-wrapper {
	width: 42%;
	min-width: 16rem;
	max-width: 25rem;
	color: white;
}

#main-description {
	font-size: 1.4em;
	line-height: 1.45;
	opacity: 0.8;
}

#learn-more-wrapper {
	margin-top: 2.854em;
}

#get-started-wrapper {
	width: 42%;
	min-width: 16rem;
	max-width: 26rem;
	margin-right: 16%;
	color: white;
}

#dig-deeper-wrapper {
	width: 42%;
	min-width: 16rem;
	max-width: 26rem;
	color: white;
}

#get-started-wrapper p,
#dig-deeper-wrapper p {
	opacity: 0.8;
	font-size: 1em;
}

/*Footer*/

#footer {
	width: 100vw;
	padding: 0 10vh 0 10vh;
	background-color: #111;
	display: inline-flex;
	color: white;
}

#footer a {
	padding-left: 2em;
	color: var(--accentColor);
}

@media only screen and (max-width: 520px) {
	.content-wrapper {
		padding: 0 4vh 0 4vh;
	}

	#learn-wrapper {
		padding: 4.854em 4vh 4.854em 4vh;
	}

	#nav-logo {
		display: block;
	}

	#word-wrapper {
		height: 40%;
	}

	#play-wrapper {
		height: 20%;
	}

	#word {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		font-size: 4.236em;
	}

	#-wrapper {
		height: 48%;
		margin-top: 5.6em;
	}

	#title-wrapper {
		width: 96%;
	}
}
